<html>
<head>
    <title>React App Demo</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    // Displays database items as an array from which their details can be access
    const GameList = (props) => {
      // Maps the collection to a new array
      const newGamesArray = props.games.map((game) => {
        // Assigns each item's database ID as its key and adds a click handler to identify the clicked item as the "selected item"
        return <li key={game._id}><a href="#" onClick={props.handleClick}>{game.title}</a></li>
      });
      // Returns the new array within a bullet list
      return <ul>{newGamesArray}</ul>
    }

    // Displays details of the selected item
    const GameDetail = (props) => {
      return (
        <div>
          <h3>Details for {props.selected.title}</h3>
            <form>
              Title: <input type="text" name="title" value={props.selected.title || ""} onChange={props.edit} /><br/>
              Developer: <input type="text" name="developer" value={props.selected.developer || ""} onChange={props.edit} /><br/>
              Genre: <input type="text" name="genre" value={props.selected.genre || ""} onChange={props.edit} /><br/>
              Year: <input type="text" name="year" value={props.selected.year || ""} onChange={props.edit} />
            </form>
            <br/>
            <button onClick={props.resetSelection}>Clear</button>
            <button onClick={props.handleDelete}>Delete</button>
        </div>
      )
    }

    class App extends React.Component {
      constructor(props) {
          super(props);
          // Set initial state using data from server application
          this.state = {
            games: {{{ games }}}, // Database items; the state is the database collection
            currentGame: { } // Current selected item; the state is the selected item
          };
          // Binds application state to click handler
          this.selectItem = this.selectItem.bind(this);
          this.resetSelection = this.resetSelection.bind(this);
          this.edit = this.edit.bind(this);
          this.handleDelete = this.handleDelete.bind(this);
      }

      handleDelete () {
        console.log('handleDelete')
        fetch(`/api/games/delete/${this.state.currentGame.title}`)
          .then((response) => {
              return response.json();
            })
            .then((result) => {
              console.log(result) 
            })
            .catch(err => console.log(err))
      }

      edit (e) {
        console.log(e.target.value)

        let newGame = this.state.currentGame;
        newGame[e.target.name] = e.target.value;
        this.setState({currentGame: newGame});
      }

      resetSelection() {
        console.log('reset')

        this.setState({currentGame: { } });
      }

      // Handle selected item
      selectItem(e) {
        // e.target is the HTML item selected
        e.preventDefault(); // Prevent default behavior
        console.log(e.target.innerText)

        // Retrieves the item from the database matching the [title] text of the item selected
        let selected = this.state.games.find((game) => {
          return game.title === e.target.innerText;
        });
        console.log(selected);
        // Sets currentGame state to the selected game
        this.setState({currentGame: selected});
      }

      // Renders app UI elements
      render() {
        return (
        <div>
          <h2>Indie Games</h2>
            <GameList games={this.state.games} handleClick={this.selectItem} />
          <hr />
            <GameDetail
              selected={this.state.currentGame}
              resetSelection={() => this.resetSelection()}
              edit={this.edit}
              handleDelete={this.handleDelete}
            />
        </div>
        )
      };
    };

    ReactDOM.render(
      <App />,
      document.getElementById('root')
    );
    
</script>
</body>
</html>

      {{!-- render() {
        // Renders app UI elements
        return (
          <div>
            <h2>Components go here</h2>
            <GameList games={this.state.games} handleClick={this.selectItem} />
            <hr />
            <GameDetail selected={this.state.currentGame} />
          </div>
          );
      } --}}

      {{!-- <p><a href="/">Return to List</a></p> --}}